

*
!*/
!.gitignore
!/**/.gitignore
/node_modules
/ypes
!/**/*.py
!/**/*.ipynb

!/deployment/**/*.*
!/scripts/**/*.sh
!/examples/**/*.sh


!/views/**/*.html
!/public/**/*.*
!/frontend/**/*.*
!Dockerfile
!.gitlab-ci.yml
!README.md
!requirements.txt
!.gitmodules
!.env
!.pylintrc
!.vscode/**/*.json
!CHANGELOG.md
!pyproject.toml
!.pre-commit-config.yaml

!/deploy/**/*.*
!.gitlab-ci.yml